.navDock{
    position: fixed;
    height: 100px;
    width: 100%;
    max-width: 500px;
    z-index: 3000;
    border-radius: 20px;
    left: calc(50% - 250px );
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.769);
    box-shadow: 20px 20px 20px rgba(41, 41, 41, 0.721);
}

.nav_icon{
    height: 80px;
    width: 80px;
    transition: transform 0.5s ease;
}
.nav_icon:hover{
    transform: scale(1.3);
    
}